  
<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body class="container">
		<div class="col-md-6 col-md-offset-3">
            <h1>Welcome to the lab2 part Express js</h1>
            <h2>Tips</h2>
			<p>To display the metrics, add `/hello/yourname` into the adress bar of your browser</p>
		</div>	
	</body>
</html>