<html>
 <DOCTYPE html>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Hello</h1>
      <p>Welcome on our simple website to have access to the metrics please add /hello/nameofyourchoice after the localhost </p>
    </div>
</body>
</DOCTYPE>
</html>